<!DOCTYPE html>
<html lang="th">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1> Part Forloop tutorial </h1>
    <div>
    {% for x in range %}
        <div>{{ x }}</div>
        {% empty %}  <!-- ใช้สำหรับแสดงผลตอนนที่ไม่มีข้อมูลให้วนลูป -->
        No Data   
    
    {% endfor %}
    <ul> 
    {% for item in list %}
        <li>{{item}}</li>
    {% endfor %}
    </ul>

 {% for k ,v in dict.items %}  <!-- print dict.items -->
	    <div>{{ k }} :{{v}}</div>
    {% endfor %}
    <br>

     {% for k in dict.keys %}  <!-- print dict.keys -->
	    <div>{{ k }}</div>
    {% endfor %}
    <br>

     {% for k in dict.values  %} <!-- print dict.values -->
	    <div>{{ k }}</div>
    {% endfor %}
 <br>

     {% for k in dict.values reversed %} <!-- print dict.values ย้อนกลับ -->
	    <div>{{ k }}</div>
    {% endfor %}

  <ul>
        {% for i in range %}    
        <li>
            {% cycle 'One' 'Two' 'Three' 'Four' 'Five' %}  <!-- ใช้สำหรับใการวนข้อมูลใน tag cycle โดยยึดจำนวนรอบการวนตาม for -->
        </li>
        {% endfor %}
    </ul>

{# forloop.counter section #}

    {% for x in list  %}
        <div>รายการที่ {{ forloop.counter }}: {{ x }}</div>
    {% endfor %}
    <br>
    {% for x in list %}
        <div>list[{{ forloop.counter0 }}] = {{ x }}</div>
    {% endfor %}
    <br>

{# forloop.revcounter reversed section #}

{% for x in list  reversed%}
        <div>รายการที่ {{ forloop.revcounter }}: {{ x }}</div>
    {% endfor %}
    <br>
    {% for x in list reversed %}
        <div>list[{{ forloop.revcounter0 }}] = {{ x }}</div>
    {% endfor %}
    <br>

    <div style="background: powderblue; padding: 5px">
    {% for _ in range %}

    {# forloop.first and forloop.last #}

        {% if forloop.first %}
            <span style="font-weight: bold; color: gray">
        {% else %}
            <span style="font-weight: normal; color: blue">
        {% endif %}

        {% cycle 'Home' 'Products' 'Orders' 'Subscribe' 'Contact-Us' %}
       
        {% if not forloop.last %}
            |
        {% endif %}

    {% endfor %}
 </div>
 
   <br>
    
    {% lorem 5 w %}
    <br>
    {% lorem 10 w %}
    <br>
    {% lorem 1 p %}
    <br>
    {% lorem 3 p %}
  


 
</body>
</html>