<!DOCTYPE html>
<html lang="th">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>autoescape on:</div>
    {% autoescape on %}	{# แปลงอักขระพิเศษ (เฉพาะที่ส่งมาจากวิว) #}
        <b>Hello</b>
        {{ html_str }}		
    {% endautoescape %}
    <hr>
    <div>autoescape off:</div>
    {% autoescape off %} 	{# ไม่แปลงอักขระพิเศษ #}
        <b>Hello</b>
        {{ html_str }}		
    {% endautoescape %}
    
</body>
</html>