<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
  </head>
  <body>
    <h2>Title : {{title}}</h2>
    <h2>Message : {{message}}</h2>
    <div>color1 : {{color.0}}</div>
    <div>color2 : {{color.1}}</div>
    <div>First flower : {{flowers.a}}</div>
    <div>Second flower : {{flowers.c}}</div>
    <div>Date : {{date.day}}/{{date.month}}/{{date.year}}</div>
    <script src="" async defer></script>
  </body>
</html>
